:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: white;
}

::ng-deep .task-details-dialog-panel .mat-mdc-dialog-container {
  border-radius: 1rem;
  padding: 0;
}

::ng-deep .task-details-dialog-panel .mat-mdc-dialog-content {
  padding: 0;
}

::ng-deep .task-details-dialog-panel .mat-mdc-dialog-surface {
  border-radius: 1rem;
}
